body {
    font-family: arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4; 
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

section {
    margin-top: 20px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.book-list, .library-list {
display: grid;
gap: 20px;
margin-top: 10px;
}


.book-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
}

button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.add-btn {
    background: green;
    color: bisque;
}

.remove-btn {
    background: red;
    color: bisque;
}

.goa-btn {
    background: blue;
    color: bisque;
}